.portal.public-schedule {
  --portal-header: 0px;
}

@media (max-width: 40rem) {
  .public-schedule > header h1 {
    font-size: clamp(1.875rem, 7.5vw, 2.5rem);
    line-height: 1.1;
    text-wrap: wrap;
  }
}
